style(type='text/css').
	
body.c15
p.c14
	span
a(id='t.814305bac0b4a712a968e57a5282eeb28630df4a')
a(id='t.0')

h3.c10(id='h.8hfnwptmlo8p')
	span.c11 Scientific Thought 
ol.c5.lst-kix_c7yy2m48oiz6-0.start(start='1')
	li.c0
		span.c4 Is the problem and hypothesis stated clearly?
	li.c0
		span.c4
			| Was the problem scientifically significant, but sufficiently limited to allow plausible attack? Good scientists can identify important problems capable of solutions. Neither working on a difficult problem without getting anywhere nor solving an extremely simple problem is a substantial contribution.
	li.c0
		span.c4 Was there a procedural plan for obtaining a solution?
	li.c0
		span.c4 Are the variables clearly recognized and defined?
	li.c0
		span.c4
			| If controls are necessary, did the student recognize their need and were they correctly used?
	li.c0
		span.c4 Are there adequate data to support the conclusions?
	li.c0
		span.c4 Does the student or team recognize the data’s limitations?
	li.c0
		span.c4 Does the student/team understand the project’s ties to related research?
	li.c0
		span.c4 Does the student/team have an idea of what further research is warranted?
	li.c0
		span.c4 Did the student/team cite scientific literature, or only popular magazines?
h3.c10(id='h.kr0taf4e67r0')
	span.c11 Engineering Goals 
ol.c5.lst-kix_b0r486sl32bk-0.start(start='1')
	li.c0
		span.c4 Does the project have a clear objective?
	li.c0
		span.c4 Is the objective relevant to the potential user’s needs?
	li.c0
		span.c4
			| Is the solution: (a) Workable? Unworkable solutions might seem interesting but are not practical. (b) Acceptable to the potential user? (c) Economically feasible? Solutions that are too expensive will be rejected or ignored.
	li.c0
		span.c4
			| Could the solution be used successfully in design or construction of some end product?
	li.c0
		span.c4 Is the solution a significant improvement over previous alternatives?
	li.c0
		span.c4
			| Has the solution been tested for performance under the conditions of use? (Testing might prove difficult, but should be considered.) Is there evidence of redesign and retest?
h3.c10(id='h.sxm19n90jfao')
	span.c11 Creativity
ol.c5.lst-kix_haa72vtmf0ss-0.start
	li.c7
		span.c4
			| Does the project show creativity and originality in: (a) The question asked? (b) The approach to solving the problem? (c) The interpretation of the data? (d) The construction or design of new equipment?
	li.c7
		span.c4
			| An original idea for a project shows greater creativity than a suggested project from the internet or a textbook. Obviously no project is creative and original in every aspect. A creative and original project for middle or high school students is different from that of professionals. Conversely, some projects may contain elements that seem original, but the materials may have come from internet sites, new curricula in textbooks or laboratory manuals unfamiliar to judges. Projects taken from other sources are acceptable if the source is clearly acknowledged, but should be scored lower than original ideas. Acknowledgement may be available from several sources:
	li.c12
		span.c4 In bibliography references listed on the project board,
	li.c12
		span.c4 Oral acknowledgment when asked by a judge, or
	li.c12
		span.c4
		| On Form 1C which should be displayed with the project for RRI projects completed in a regulated research institution, industrial setting, and/or supervised by a professional research scientist/engineer or mentor. 
	li.c7
		span.c4
			| Also consider how much help a student received. A student’s or team’s approach to solving a problem may seem original, but may have come from a scientist’s or engineer’s suggestions. If a student received help on a project, credit for creative ability and originality should reflect the student’s own contributions. This should become clear through careful questioning.
	li.c7
		span.c4
			| Creative research should support an investigation and help answer a question in an original way. The assembly of a kit would not be creative unless an unusual approach was taken. Collections should not be considered creative unless they are used to support an investigation, and to help answer a question in an original way.
	li.c7
		span.c4
			| A creative contribution promotes an efficient and reliable way to solve a problem. When judging, make sure to distinguish between gadgeteering and genuine creativity.
	li.c7
		span.c4
			| For continuation projects, score creativity only on accomplishments of the past 12 months.
h3.c10(id='h.bd2omqimr6vn')
	span.c11 Thoroughness
ol.c5.lst-kix_8v4u4d5qz02s-0.start(start='1')
	li.c0
		span.c4
			| Is the student/team familiar with scientific literature or prior art in the field?
	li.c0
		span.c4
			| Was the purpose carried out to completion within the scope of the original intent?
	li.c0
		span.c4 How completely was the problem covered? Was it well planned?
	li.c0
		span.c4 How complete are the project notes?  Was there a project notebook?
	li.c0
		span.c4
			| Are the conclusions based on a single experiment, or are there replications? Is the conclusion supported with data?
	li.c0
		span.c4 Is the student/team aware of other approaches or theories?
	li.c0
		span.c4 How much time did the student/team spend on the project?
h3.c10(id='h.cb1z4iwxpnaa')
	span.c11 Skill
ol.c5.lst-kix_35t8isxms3ox-0.start(start='1')
	li.c0
		span.c4
			| Does the student/team have the skills required to do all the work necessary to obtain the data that support the project? Laboratory skills? Computational skills? Observational skills? Design skills?
	li.c0
		span.c4
			| Where was the project done? (e.g., home, school laboratory, or university laboratory) Did the student or team receive assistance from parents, teachers, scientists, or engineers?
	li.c0
		span.c4
			| Was the project done under adult supervision, or did the student/team work largely alone?
	li.c0
		span.c4
			| Where did the equipment come from? Was it built independently by the student or team? Was it obtained on loan? Was it part of a laboratory where the student or team worked?
h3.c10(id='h.jkt2vds55kt8')
	span.c11 Clarity
ol.c5.lst-kix_qogfhtcrttg2-0.start(start='1')
	li.c0
		span.c4
			| How clearly can the student discuss the project and explain the project’s purpose, procedure, and conclusions? Make allowances for nervousness. Watch out for memorized speeches that reflect little understanding of the principles.
	li.c0
		span.c4
			| Does the written material reflect the student’s or team’s understanding of the research? (Take outside help into account.)
	li.c0
		span.c4 Are the important phases of the project presented in an orderly manner?
	li.c0
		span.c4 How clearly are the data presented?
p.c14
	span
